<h1>Blink Blink</h1>

<p>
Welcome to the Blink App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(id: @user.activation_token, email: @user.email) %>